@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Syne:wght@400;500;600;700&display=swap");
@import "./mixins";

$primaryFont: "Syne";
$secondaryFont: "Inter";

.display-xxl {
  @include heading($primaryFont, 700, 18rem, 18rem);
  color: $primary;
}

.display-xl {
  @include heading($primaryFont, 700, 11.75rem, 11.375rem);
  @include stroke($gray-800, 2px);
  text-transform: uppercase;
  color: $black;
}

.h-xl {
  @include heading($primaryFont, 700, 4.25em, 4.5rem);
}

.h-lg {
  @include heading($primaryFont, 600, 2.625rem, 3rem);
}

.h-md {
  @include heading($primaryFont, 500, 1.625rem, 3rem);
}

.h-sm {
  @include heading($primaryFont, 400, 1rem, 1.5rem);
}

.paragraph {
  @include heading($secondaryFont, 200, 1rem, 1.5rem);
  color: $gray-100;
}

.paragraph-sm {
  @include heading($secondaryFont, 300, 0.875rem, 1.3125rem);
}
