.about-me {
  height: 100vh;

  &__container {
    &__title {
      position: relative;
      &__line {
        height: 15px;
        background-color: $accent;
        width: 0;
        position: absolute;
        bottom: -32px;
        left: 5%;
      }
    }
  }
}
