@use "../custom" as *;

.hero {
  height: 100vh;

  &__container {
    width: 100%;
    margin-bottom: 96px;

    &__info-text {
      margin-top: 96px;
      .paragraph {
        font-size: 1.625rem !important;
        line-height: 3rem !important;
      }
    }
  }
}
