@use "../custom" as *;

.navbar {
  height: 10vh;
  &__container {

    &__link,
    .navbar-brand {
      color: $gray-100;

      &:hover {
        color: $accent;
      }
    }

    &__link {
      font-weight: 300;
    }
  }
}
